
/NoiseIDEPython/ideprof
/NoiseIDEPython/build
/NoiseIDEPython/noiseide.yaml
/NoiseIDEPython/.idea/*
/NoiseIDEPython/ide.log
/NoiseIDEPython/noiseide
/NoiseIDEPython/.idea/NoiseIDE.iml
/NoiseIDEPython/.idea/misc.xml
